<style>
.button{
    height: 20px;
    width:20px;
}

 </style>   
<div class = "row">
    <div >
        <ol>
            <li ng-repeat="category in ctrl.items">
            <div >
                <div class="col-xs-6">
                    <a ng-click="showDiv = !showDiv">{{ category.name }}</a>
                </div>    
                <input class = "button" type="image" src = "images/cross.png" ng-if= "ctrl.items.length>0" ng-click = "ctrl.onRemove({index: $index})"></input>        
            </div>    
            <div class="row" ng-show="showDiv">
                <div class="col-xs-offset-1">
                    <b>Id</b> : {{category.id}}<br/>
                    <b>Name</b> : {{category.name}}<br/>
                    <b>Short-Name</b> : {{category.short_name}}<br/>
                    <b>Description</b>: {{category.description}}<br/>
                    <b>price_small</b>: {{category.price_small}}<br/>
                    <b>price_large</b>: {{category.price_large}}<br/>
                    <b>small_portion_name</b>: {{category.small_portion_name}}<br/>
                    <b>large_portion_name</b>: {{category.large_portion_name}}<br/>
                </div>
            </div> 
            </li>
        </ol>
     </div>
</div>